:host {
    display: block;
    padding: 0;
    margin: 0;

    .heading-row-header {
        width: 100%;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.26);

        .empty-icon-wrapper { width: 72px; }

        .local-headings {
            display: block;
            box-sizing: border-box;
            float: left;
            font-weight: 500;
            cursor: pointer;
            color: var(--gray-mid);

            &:hover, &[ordered="asc"] {
                .heading { color: var(--gray-dark); }
                iron-icon.up-icon { display: inline-flex; }
            }
            &[ordered="asc"] iron-icon.up-icon { color: var(--gray-dark); }

            &[ordered="desc"] {
                .heading { color: var(--gray-dark); }

                iron-icon.down-icon {
                    display: inline-flex;
                    color: var(--gray-dark);
                }
                iron-icon.up-icon { display: none; }
            }

            .heading {
                line-height: 56px;
                font-size: 12px;
            }

            iron-icon {
                display: none;
                width: 16px;
                height: 16px;
            }
        }
    }
}