:host {
    position: relative;
    display: block;

    .tab-selector {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        margin-top: -13px;
        padding-left: 22px;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 1px -3px 9px 0 #000000;


        paper-tabs {
            color: var(--module-primary);
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tab-content {
            padding: 0 13px;
        }
    }
    --paper-tab-content-unselected: #{'{
                color: var(--gray-light)
            }'};

    #pageContent {
        flex: 10;
    }

    #sidebar {
        flex: 2;
        padding-left: 25px;
    }

    --ecp-header-bg: var(--module-primary);

    partner-details-tab { margin-bottom: 20px; }
}

etools-content-panel.actions-tab {
    --ecp-content: #{'{
            padding: 26px 20px 30px;
        }'};
}