.status-container, .divider {
    height: 40px;
}

.status-container {
    position: relative;
    padding: 24px 24px 36px;
    border-bottom: solid 1px #e8e8e8;

    @apply(--layout-horizontal);
    @apply(--layout-center);

    .status-icon, .status {
        @apply(--layout-vertical);
        @apply(--layout-center-justified);
        @apply(--layout-warp);
    }

    iron-icon { display: inline-block;}

    &.vision-container {
        border-bottom: none;
        padding: 24px 24px 0;
    }

    .status-icon {
        .icon-wrapper {
            background-color: var(--gray-light);
            text-align: center;
            width: 24px;
            height: 24px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            color: #ffffff;

            iron-icon {
                display: none;
                --iron-icon-height: 18px;
                --iron-icon-width: 18px;
                width: 18px;
                height: 18px;
                top: 1px;
                color: #fff;
            }

            span {
                height: 24px;
                line-height: 24px;
                font-size: 13px;
            }
        }
    }

    .status {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-sizing: border-box;
        text-transform: capitalize;
        color: inherit;
        font-weight: bold;

        .status-date {
            color: var(--gray-mid);
            font-size: 12px;
            font-weight: 400;
            white-space: nowrap;
        }

        &.multi-line .status-date {
            position: absolute;
            bottom: -18px;
            left: 33px;
        }

        &.multi-line .status-header {
            position: absolute;
            bottom: 0;
        }
    }

    &.active {
        .status-icon .icon-wrapper {
            background: var(--module-success);
            iron-icon {
                display: inline-block;
                --iron-icon-height: 100%;
                --iron-icon-width: 100%;
            }
            iron-icon[icon="warning"] { display: none; }
            .status-nr { display: none; }
        }
    }

    &.cancelled {
        .status-icon .icon-wrapper {
            background: transparent;
            iron-icon[icon="cancel"] {
                display: inline-block;
                width: 25px;
                height: 25px;
                color: var(--gray-darkest);
            }
        }
    }

    &.draft {
        .status-icon .icon-wrapper {
            background: var(--module-warning);
            iron-icon[icon="create"] {
                display: inline-block;
                width: 16px;
                height: 16px;
            }
        }
    }

    &.synced {
        .status-icon .icon-wrapper {
            background: var(--module-success);
            iron-icon[icon="autorenew"] {
                display: inline-block;
                --iron-icon-height: 100%;
                --iron-icon-width: 100%;
            }
            .status-nr { display: none; }
        }
    }

    &.not_synced {
        .status-icon .icon-wrapper {
            background: #3A94FF;
            iron-icon[icon="info"] {
                display: inline-block;
                --iron-icon-height: 100%;
                --iron-icon-width: 100%;
            }
            .status-nr { display: none; }
        }
    }

    &.blocked {
        .status-icon .icon-wrapper {
            background: var(--module-warning);
            iron-icon[icon="block"] {
                display: inline-block;
                --iron-icon-height: 100%;
                --iron-icon-width: 100%;
            }
            .status-nr { display: none; }
        }
    }

    &.deleted {
        .status-icon .icon-wrapper {
            background: transparent;
            iron-icon[icon="delete-forever"] {
                color: var(--module-error);
                display: inline-block;
                width: 25px;
                height: 25px;
            }
            .status-nr { display: none; }
        }
    }
}

action-buttons {
    position: relative;
    box-sizing: border-box;
    padding: 24px;
}

etools-content-panel {
    --ecp-content: #{'{
                    padding: 0;
                }'};
}