:host {
    display: block;
}

app-drawer {
    --app-drawer-width: 220px;
    --app-drawer-content-container: {
        background-color: var(--light-theme-content-color);
    };
}

.side-nav-wrapper {
    @apply(--layout-vertical);

    height: 100%;
    overflow-y: var(--side-bar-scrolling);
    overflow-x: hidden;
    border-right: 1px solid var(--dark-divider-color);
}

.side-nav-wrapper .header {
    min-height: 60px;
    border-bottom: 1px solid var(--dark-divider-color);
}

#etools-logo {
    height: 50%;
    width: 60%;
}

#unicef-logo {
    height: 100%;
    width: 60%;
}

#app-select {
    margin-left: auto;
    width: 47px;
    height: 47px;
}

.side-nav-wrapper .nav-menu {
    padding: 8px 0;
}

.side-nav-wrapper .divider {
    margin: 8px 0;
    border-bottom: 1px solid var(--dark-divider-color);
}

.side-nav-wrapper .footer {
    @apply(--layout-horizontal);
    @apply(--layout-center-center);

    margin-top: auto;
    min-height: 26px;
    padding: 16px 16px;
    border-top: 1px solid var(--dark-divider-color);
}

#countries {
    position: fixed;
    top: 9px;
    right: 20px;
}