:host {
    display: flex;
}

app-drawer-layout {
    padding-left: 70px;

    app-drawer {
        visibility: visible;
        right: auto;
        z-index: 65 !important;

        --app-drawer-width: 70px;
        --app-drawer-content-container: #{'{
            transform: translate3d(0, 0, 0);
            background-color: var(--light-theme-content-color);
        }'};
    }

    app-header {
        padding-left: 70px;
        z-index: 60 !important;
    }
}

app-drawer-layout[opened] {
    padding-left: 220px;

    app-drawer {
        --app-drawer-width: 220px;
    }

    app-header {
        padding-left: 220px;
    }
}
