:host {
    position: relative;
    display: block;

    .email-loading {
        position: absolute;
        right: -32px;
        top: 25px;
        left: auto;
        &:not([active]) {
            display: none !important;
        }
    }


    .add-button {
        position: absolute;
        right: 15px;
        top: 4px;
        width: 40px;
        height: 40px;
        color: rgba(255, 255, 255, 0.7);
        z-index: 10;
    }

    .search-input-container {
        position: absolute;
        right: 55px;
        height: 48px;
        color: #ffffff;
        overflow: hidden;
        z-index: 10;

        .search-input {
            width: 5%;
            float: right;
            box-sizing: border-box;
            min-width: 46px;
            margin-top: -13px;

            &[focused] {
                width: 100%;
            }
            &:not(.empty) {
                width: 100% !important;
            }
            iron-icon {
                top: -1px;
                color: rgba(255, 255, 255, 0.7);
            }
            transition: 0.35s;
            cursor: pointer;
        }
    }


    .edit-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        color: var(--gray-mid);
    }
    .edit-icon-slot {
        overflow: visible !important;
        line-height: 48px;
    }

    .check-icon {
        margin-left: -3%;
    }

    .form-title {
        position: relative;
        width: 100%;
        line-height: 40px;
        color: var(--module-primary);
        font-weight: 600;
        box-sizing: border-box;
        margin: 10px 0 0 !important;
        padding: 0 !important;

        .text {
            background-color: var(--gray-06);
            border-radius: 3px;
            margin: 0 24px;
            padding: 0 24px;
        }
    }

    .line {
        width: #{'calc(100% - 48px)'};
        margin-left: 24px;
        box-sizing: border-box;
        margin-bottom: 0 !important;
        border-bottom: 1px solid var(--gray-border);
    }

    .notify-box {
        padding-left: 12px;
        box-sizing: border-box;
        //margin-bottom: 20px;
    }

    .confirm-backdrop[opened] {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 104;
    }

    .confirm-text {
        padding: 5px 86px 0 23px !important;
    }

    .panel-content {
        position: relative;
        margin-bottom: -7px;
        padding-bottom: 0;
    }

    .checkbox {
        overflow: visible !important;
        line-height: 48px;
    }

}

etools-content-panel {
    --ecp-content: #{'{
            padding: 0;
        }'};
}

list-pagination {
    --list-pagination-styles: #{'
        margin-bottom: -8px;
    '};
}

etools-loading {
    --etools-loading-overlay-transparency: 0.4;
}

paper-input.search-input {
    --paper-input-container-color: rgba(255, 255, 255, 0.5);
    --paper-input-container-focus-color: #ffffff;
    --paper-input-container-input-color: #ffffff;
    --paper-input-container-underline-focus: #{'{
        border-bottom: 1px solid #ffffff;
    }'};
    --paper-input-container-underline: #{'{
        border-bottom: none;
    }'}
}

paper-input.search-input.filled {
    --paper-input-container-underline: #{'{
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }'}
}