//Upload paper-input styles
paper-input {
    &[invalid] {
        padding: 0 12px 8px;
    }

    --paper-input-container-underline: #{'{
        border-bottom: 1px solid var(--gray-20)!important;
    }'};

    --paper-input-container-underline-disabled: #{'{
        display: block !important;
        border-bottom: 1px dashed var(--gray-20) !important;
    }'};
}

paper-icon-button {
    height: 25px;
    width: 25px;
    padding: 0;
    color: red;
    opacity: 0.54;
}

.label {
    display: block;
    padding: 0 12px;
    margin-top: 8px;
    font-size: 12px;
    color: var(--gray-50);
}

.upload-button {
    --paper-button: #{'{
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin: 2px 0 0 12px;
        padding-left: 0;
        padding-right: 4px;
        height: 36px;
        color: var(--module-primary);
        background-color: #ffffff;
    }'};
}
