:host {
    @apply(--layout-vertical);

    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 1px solid var(--dark-divider-color);

    .menu-header {
        @apply(--layout-horizontal);
        @apply(--layout-center);

        background-color: #6AB600;
        color: white;
        border-bottom: 1px solid var(--dark-divider-color);
        height: 59px;
        padding: 0;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;

        iron-icon {
            width: 100%;
            height: 59%;
        }

        img {
            width: 55%;
            margin: auto;
            cursor: pointer;
        }

        [main-title] {
            display: none;
        }
    }

    #toggle-drawer {
        height: 100%;
        width: 100%;
        padding: 12px;
    }

    #close-drawer {
        display: none;
    }

    .divider {
        margin: 8px 0;
        border-bottom: 1px solid var(--dark-divider-color);
    }

    .nav-menu {
        @apply(--layout-vertical);

        background: #fff;
        padding: 8px 0;
        width: 100%;
        overflow: hidden;
    }

    .nav-menu,
    .nav-menu iron-selector[role="navigation"] {
        @apply(--layout-flex);
    }

    .secondary-header {
        display: none;
        color: var(--primary-text-color);
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
    }
}

:host([opened]) {
    .menu-header {
        padding: 0 16px;

        #close-drawer {
            display: initial;
        }

        img {
            display: none;
        }

        [main-title] {
            display: block;
        }
    }

    .secondary-header {
        display: block;
    }
}
