:host {
    display: block;
    margin-top: 20px;
    --paper-card: #{'{
                    background-color: white;
                    margin: 0 24px;
                    width: calc(100% - 48px);
                }'};

    .partner-data {
        display: block;
        width: 100%;
        height: 100%;
        .col-data {
            float: left;
            line-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        a.col-data { color: #40c4ff; }


    }

}

.data-table {
    margin-bottom: 24px;
}
.data-table .data-card-heading {
    display: block;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
    line-height: 64px;
}

.partners-data-details {
    display: flex;
    .row-details-content {
        flex: 0 0 16.66666667%;
        max-width: 16%;
        vertical-align: top;

        .rdc-title {
            display: inline-block;
            width: 100%;
            color: rgba(0, 0, 0, 0.54);
            font-weight: bold;
            margin-bottom: 10px;
        }

        .data {
            font-size: 13px;
        }
    }
}

