*[hidden] {
    display: none !important;
}

:host {
    display: block;
    border-bottom: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));

    .partner-data {
        display: block;
        width: 100%;
        height: 100%;
        .col-data {
            float: left;
            line-height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 25px;
            box-sizing: border-box;
            .truncate { white-space: nowrap; }
        }
        a.col-data { color: #40c4ff; }
    }

    .partners-data-details {
        display: flex;
        .row-details-content {
            flex: 0 0 16.66666667%;
            max-width: 16%;
            vertical-align: top;
            overflow: hidden;
            text-overflow: ellipsis;

            .rdc-title {
                display: inline-block;
                width: 100%;
                color: rgba(0, 0, 0, 0.54);
                font-weight: bold;
                margin-bottom: 10px;
            }

            .data {
                font-size: 13px;
            }
        }
    }


}

:host(:hover) paper-material {
    background-color: #EEEEEE;
    @apply (--hover-setting);
}

paper-material {
    @apply (--layout-horizontal);
    @apply (--layout-center);
    width: 100%;
    height: 48px;
    font-size: 13px;
    color: var(--primary-text-color, rgba(0, 0, 0, 0.87));
    background-color: var(--primary-background-color, #FFFFFF);
    padding: 0 0 0 72px !important;
    box-sizing: border-box;
}

paper-material ::slotted(*) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#iconWrapper {
    position: absolute;
    left: 0;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    cursor: pointer;
}

iron-icon {
    color: var(--dark-icon-color, rgba(0, 0, 0, 0.54));
}

#collapse-wrapper {
    padding: 15px 24px 15px 72px;
    background-color: #EEEEEE;
    /* TODO: replace with app-theme var */
    border-top: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));
}