:host {
    --paper-tooltip-opacity: 1;
}
etools-content-panel {
    --ecp-content: #{'{
         padding: 0;
    }'};
}

.activity-wrapper {
    &:last-of-type .related-task {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
 
.related-task {
    width: 22%;
    font-size: 12px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    border-right: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));
    border-bottom: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));
}

.row-data {
    & > * {
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover .delete-icon {
        display: block;
    }
}

a {
    padding-left: 5px;
    color: #0099ff;
    text-decoration: none;
}

.delete-icon {
    position: absolute;
    right: 10px;
    display: none;
    cursor: pointer;
    & iron-icon {
        --iron-icon-width: 20px;
        --iron-icon-height: 20px;
        --iron-icon-fill-color: var(--gray-50);
    }
}

.documents {
    width: 78%;
}

.info-box {
    background-color: #EEEEEE;
    padding: 16px 24px;
}