etools-content-panel {
    --ecp-content: #{'{
         padding: 0;
    }'};
}

.loading {
    position: absolute;
    top: 28px;
    left: auto;
    background-color: #fff;
}

.loading:not([active]) {
    display: none !important;
}
