:host {
    position: relative;
    display: block;

    paper-button.add-type-of-site {
        width: 156px;
        height: 35px;
        color: var(--module-primary);
        font-weight: bold;
        margin-top: 20px;
    }


    .repeatable-item-container.type-of-site-container {
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 0;

        .repeatable-item-actions .actions .action.delete {
            color: var(--gray-light);
            &:hover { color: #ea4022; }
        }

        .repeatable-item-content {
            border-left: none;
            padding-left: 0;
        }
    }
}