etools-content-panel {
    --ecp-content: #{'{
         padding: 0;
    }'};
}

etools-searchable-multiselection-menu {
    --esmm-list-wrapper: #{'{
        max-height: 180px !important;
        -ms-overflow-style: auto;
    }'};
}